$font-color: #666;
$alert-background: #FFC0CB;
$dark-alert-background: #ab1122;
$notice-background: #22ad5a;

body {
  font-family: "Source Sans Pro", sans-serif;
  color: $font-color;
  font-size: 16px;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #2980b9;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  small {
    font-size: 0.75em;
  }
}

h2 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.container {
  @include outer-container;
}

header {
  background-color: #faa747;
  border-bottom: 1px solid #e57e07;
  margin-bottom: 1em;
  @include pad(0.5em);
  a {
    // color: #824804;
    color: #fff;
    font-weight: 600;
  }
  h1 {
    display: inline;
    font-size: 1.25em;
  }
  .right {
    float: right;
  }
}

.flash {
  @extend .container;
  color: #fff;
  margin-bottom: 1em;
  padding: 0.5em;
  &.notice {
    background-color: $notice-background;
    border: 1px solid darken($notice-background, 5%);
  }
  &.alert {
    background-color: $dark-alert-background;
    border: 1px solid darken($dark-alert-background, 5%);
  }
}

.alert-box {
  @include span-columns(6);
  @include shift(3);
  @include pad(2em);
  background-color: lighten($alert-background, 10%);
  border-radius: 0.5em;
  border: 1px solid $alert-background;
  text-align: center;
  h2 {
    font-weight: bold;
  }
}

table {
  $table-background: #f6f6f6;
  background-color: $table-background;
  border: 1px solid darken($table-background, 5%);
  width: 100%;
  thead {
    background-color: darken($table-background, 2%);
  }
  td, th {
    padding: 0.5em;
    text-align: left;
  }
  td {
    word-break: break-all;
  }
  th {
    font-weight: bold;
  }
  tr {
    border: 1px solid darken($table-background, 5%);
    &:last-child {
      border: none;
    }
  }
}

.six {
  @include span-columns(6);
}

.buttons {
  text-align: right;
}

.button {
  background-color: #faa747;
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.25em 1em;
  &.red {
    background-color: $dark-alert-background;
  }
}
