$font-color: #666;
$alert-background: #FFC0CB;

body {
  font-family: "Source Sans Pro", sans-serif;
  color: $font-color;
  font-size: 16px;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #2980b9;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  small {
    font-size: 0.75em;
  }
}

h2 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.container {
  @include outer-container;
}

header {
  @include linear-gradient(#f68707, #faa747);
  border-bottom: 1px solid #e57e07;
  margin-bottom: 1em;
  @include pad(0.5em);
  h1 {
    display: inline;
    font-size: 1.25em;
    a {
      color: #824804;
    }
  }
  .right {
    float: right;
    a {
      color: #FFF;
    }
  }
}

.alert-box {
  @include span-columns(6);
  @include shift(3);
  @include pad(2em);
  background-color: lighten($alert-background, 10%);
  border: 1px solid $alert-background;
  border-radius: 0.5em;
  text-align: center;
  h2 {
    font-weight: bold;
  }
}

table {
  $table-background: #f6f6f6;
  background-color: $table-background;
  border: 1px solid darken($table-background, 5%);
  width: 100%;
  thead {
    background-color: darken($table-background, 2%);
  }
  td, th {
    padding: 0.5em;
    text-align: left;
  }
  td {
    word-break: break-all;
  }
  th {
    font-weight: bold;
  }
  tr {
    border: 1px solid darken($table-background, 5%);
    &:last-child {
      border: none;
    }
  }
}
